@charset "utf-8";
/* CSS Document */

.ProductDescription{
	background-color: rgba(255,255,255,0.91);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px;
	padding-top:15px;
}
#ProductId{
	text-align: right;
}